.skill-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 15%;
}

.skill-card {
  width: 200px;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill-card:hover{
  scale: 1.2;
  transition: all 1s ease;
}

.images-skills-container {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-skills {
  max-width: 100%;
  max-height: 70px;
  color: white;
}

.container-name-skills {
  margin-top: 10px;
}

/* TITLE STYLES */

.title-container-skills{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.title-skills{
  font-size: 35px;
color: white;
}

.skill-name{
  color: white;
}

/* Media Query para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
  .skill-card {
    width: 150px; /* Reduje el ancho de las tarjetas para pantallas más pequeñas */
    margin: 10px; /* Reduje el margen entre las tarjetas */
  }

  .title-skills {
    font-size: 24px; /* Reduje aún más el tamaño del título */
  }
}
