.skill-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15%;
}

.skill-card {
  width: 200px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.images-skills-container {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-skills {
  max-width: 100%;
  max-height: 70px;
}

.container-name-skills {
  margin-top: 10px;
}

/* TITLE STYLES */

.title-container-skills{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.title-skills{
  font-size: 35px;
  color: white;
}
