.title-projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}


.title-projects{
    font-size: 30px;
}

.section-projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.container-description-project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-buttons-projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 5%;
}